 body {
  background: rgb(109, 188, 215);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button {
  font-family: 'Open Sans', sans-serif;
}

section, 
.trip-column, 
.trip-categories, 
.trip-box {
  border: solid;
  border-width: 1px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 3rem;
  border: solid;
  background-color: #D9D9D9;
}

button {
  background-color: #4C956C;
}

button:hover {
  background-color: #D68C45;
  cursor: pointer;
}

.icon {
  width: 4rem;
}

.plantrip--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border: solid
}

.trip--form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3%;
  opacity: 90%;
  background-color: #cccccc;
  border-radius: 5rem;
}

.alltrips--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://img.freepik.com/free-vector/famous-world-monuments-seamless-pattern_1284-52141.jpg?t=st=1655182172~exp=1655182772~hmac=dd8ee3edd3ab76f13f95c08691c8f57093577be6ab2fb2564af41c1dae717b04&w=740");
  background-color: #cccccc;
}

.trip-column {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  background-color: #D68C45;
}

.trip-categories {
  display: flex;
  width: 63.5rem;
  background-color: #D68C45;
  justify-content: space-around;
}

.trip--info {
  display: flex;
}

.poster {
  width: 14rem;
  height: 10rem;
}

.trip-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4C956C;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
}
