 html {
  background: rgb(109, 188, 215);
  border: dashed;
  border-width: .25rem;
}

header, article, section {
  border: dashed;
  border-width: .2rem;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

button {
  background-color: #4C956C;
  button-
}

.icon {
  width: 4rem;
}

.plantrip--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.trip--form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alltrips--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://img.freepik.com/free-vector/famous-world-monuments-seamless-pattern_1284-52141.jpg?t=st=1655182172~exp=1655182772~hmac=dd8ee3edd3ab76f13f95c08691c8f57093577be6ab2fb2564af41c1dae717b04&w=740");
  background-color: #cccccc;
}

.trip-column {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  background-color: #D68C45;
}

.trip-categories {
  display: flex;
  width:81.8%;
  background-color: #D68C45;
  justify-content: space-around;
}

.trip--info {
  display: flex;
}

.poster {
  width: 16rem;
  height: 10rem;
}

.trip-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4C956C;
  width: 100%;
  padding: 2rem;
}
